# Dependencias
node_modules/

# Builds
dist/
build/
.next/
out/
.astro/
coverage/

# Entorno
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db
